{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    התחברות, אגודת הסטודנטים, אוניברסיטת בן גוריון, סטודנטים, מידע אקדמי
{% endblock %}
{# title #}
{% block title %}יצירת חשבון{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('SignIn.static', filename='CSS/SignIn.css') }}">
{% endblock %}

{# <body> #}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="mainSection">
        <section class="welcomeSection">
            <div class="welcomeText">
                <h1 class="pageTitle">כמעט סיימנו</h1>
                <p class="secondPageTitle">אנא הזינו את הפרטים הבאים</p>
            </div>
        </section>

        <section class="userInput">
            <form class="formStyle" action="" method="GET">
                <div class="degrees">
                    <div class="btnSelect">
                        <span>תואר*</span>
                        <img src="{{url_for('static', filename='SVG/triangle-down.svg')}}" class="selectIcon">
                    </div>
                    <div class="choiceLists hiddenList">
                        <ul class="theList">
                            <li class="listItem" data-value="01">01 - תואר ראשון</li>
                            <li class="listItem" data-value="02">02 - תואר שני</li>
                            <li class="listItem" data-value="03">03 - תואר שלישי</li>
                            <li class="listItem" data-value="04">04 - תעודת הוראה</li>
                            <li class="listItem" data-value="05">05 - לא לתואר</li>
                            <li class="listItem" data-value="06">06 - תעודת הסמכה</li>
                        </ul>
                    </div>
                    <input type="hidden" name="degree">
                </div>

                <div class="departments">
                    <div class="btnSelect">
                        <span>מחלקה*</span>
                        <img src="{{url_for('static', filename='SVG/triangle-down.svg')}}" class="selectIcon">
                    </div>
                    <div class="choiceLists hiddenList">
                        <ul class="theList">
                            <li class="listItem" data-value="117">117 - ניהול משאבי אנוש</li>
                            <li class="listItem" data-value="122">122 - ספרות עברית</li>
                            <li class="listItem" data-value="123">123 - לשון עברית</li>
                            <li class="listItem" data-value="124">124 - לימודי המזרח התיכון</li>
                            <li class="listItem" data-value="125">125 - ההיסטוריה של עם ישראל</li>
                            <li class="listItem" data-value="140">140 - המחלקה למתמטיקה</li>
                            <li class="listItem" data-value="141">141 - מדעי ההתנהגות</li>
                            <li class="listItem" data-value="142">142 - כלכלה</li>
                            <li class="listItem" data-value="143">143 - סטטיסטיקה</li>
                            <li class="listItem" data-value="144">144 - עבודה סוציאלית</li>
                            <li class="listItem" data-value="146">146 - מדעי המחשב</li>
                            <li class="listItem" data-value="147">147 - לימודים רב תחומיים</li>
                            <li class="listItem" data-value="364">364 - הנדסת תעשיה וניהול</li>
                            <li class="listItem" data-value="365">365 - הנדסת חומרים</li>
                            <li class="listItem" data-value="366">366 - הנדסה גרעינית</li>
                            <li class="listItem" data-value="367">367 - הנדסה ביו-רפואית</li>
                            <li class="listItem" data-value="369">369 - הנדסת ביוטכנולוגיה</li>
                            <li class="listItem" data-value="371">371 - הנדסת מערכות תקשורת</li>
                            <li class="listItem" data-value="372">372 - הנדסת מערכות מידע</li>
                            <li class="listItem" data-value="373">373 - הנדסת תכנה</li>
                            <li class="listItem" data-value="374">374 - הנדסת בניין</li>
                            <li class="listItem" data-value="376">376 - הנדסה סביבתית</li>
                            <li class="listItem" data-value="381">381 - הנדסת מחשבים</li>
                            <li class="listItem" data-value="382">382 - הנדסת נתונים</li>
                            <li class="listItem" data-value="383">383 - הנדסת מערכות</li>
                            <li class="listItem" data-value="391">391 - ניהול מלונאות ותיירות</li>
                        </ul>
                    </div>
                    <input type="hidden" name="department">
                </div>

                <div class="templates">
                    <div class="btnSelect">
                        <span>תבנית*</span>
                        <img src="{{url_for('static', filename='SVG/triangle-down.svg')}}" class="selectIcon">
                    </div>
                    <div class="choiceLists hiddenList">
                        <ul class="theList">
                            <li class="listItem" data-value="templateA">תבנית א</li>
                            <li class="listItem" data-value="templateB">תבנית ב</li>
                            <li class="listItem" data-value="flexible">גמיש</li>
                        </ul>
                    </div>
                    <input type="hidden" name="template">
                </div>

                <p class="academicYearAndMonth">בחר תאריך תחילת לימודים - חודש ושנה</p>
                <input class="textBoxInput" type="month" name="AcademicYearAndMonth" placeholder="תאריך תחילת לימודים*">

                <div class="currentSemester">
                    <div class="btnSelect">
                        <span>סמסטר נוכחי*</span>
                        <img src="{{url_for('static', filename='SVG/triangle-down.svg')}}" class="selectIcon">
                    </div>
                    <div class="choiceLists hiddenList">
                        <ul class="theList">
                            <li class="listItem" data-value="semesterA">סמסטר א</li>
                            <li class="listItem" data-value="semesterB">סמסטר ב</li>
                            <li class="listItem" data-value="semesterC">סמסטר קיץ</li>
                        </ul>
                    </div>
                    <input type="hidden" name="semester">
                </div>

                </br>
                <section class="checkbox">
                    <input class="conditionsCheckbox" type="checkbox" name="conditionsCheckbox">
                    <span>&nbsp;אני מאשר.ת את&nbsp;</span>
                    <span id="terms">תנאי השימוש</span>
                    <span>&nbsp;ואת&nbsp;</span>
                    <span>מדיניות הפרטיות</span>
                    <div class="popupTermsWindow hiddenWindow">
                        <div class="closeBtn">
                            <img src="{{ url_for('static', filename='SVG/x.svg') }}" alt="Close" class="closeIcon">
                        </div>
                        <div id="termsDescription">
                            <h1 class="termsTitle">תקנון האתר</h1>
                            <ol>
                                <li class="subsection">כללי
                                    <ol class="sectionDetails">
                                        <li>תקנון זה מסדיר את תנאי השימוש ביישום BGUniQ (להלן: "היישום"), שהינו יישום
                                            אינטרנטי המיועד לשימושם של סטודנטים החברים באגודת הסטודנטים של אוניברסיטת בן
                                            גוריון בלבד.
                                        </li>
                                        <li>השימוש ביישום מהווה הסכמה לכל האמור בתקנון זה. משתמש אשר אינו מסכים לתנאי
                                            התקנון נדרש להימנע משימוש ביישום.
                                        </li>
                                        <li>היישום מספק שירותים המיועדים להקל על הסטודנטים במעקב אחר הישגיהם האקדמיים
                                            ואינו מהווה תחליף לכל מידע רשמי אחר מאוניברסיטת בן גוריון או מכל גורם רשמי
                                            אחר.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">תנאי השימוש ביישום
                                    <ol class="sectionDetails">
                                        <li>השימוש ביישום מותר אך ורק לסטודנטים הלומדים באוניברסיטת בן גוריון והינם חברי
                                            אגודת הסטודנטים.
                                        </li>
                                        <li>השימוש ביישום מחייב הזדהות באמצעות כתובת הדוא"ל האוניברסיטאית שהוקצתה
                                            לסטודנט על ידי האוניברסיטה.
                                        </li>
                                        <li>השירות ניתן ללא עלות, והוא כולל תבניות מומלצות להזנת נתונים אקדמיים, אשר
                                            נועדו להקל על המשתמשים אך אינן מחייבות.
                                        </li>
                                        <li>המשתמש מצהיר כי ידוע לו שהמידע המוצג ביישום הינו כלי עזר בלבד ואינו מחליף
                                            מידע רשמי הנמסר על ידי האוניברסיטה או על ידי גורמים מוסמכים אחרים.
                                        </li>
                                        <li>המשתמש אחראי לבדוק את נכונות המידע המוצג ביישום ואין להסתמך עליו לקבלת
                                            החלטות חשובות הנוגעות ללימודים או להחלטות אקדמיות אחרות.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">פרטיות ואבטחת מידע
                                    <ol class="sectionDetails">
                                        <li>היישום מחויב להגנה על פרטיות המשתמשים ופועל בהתאם לדין הישראלי, לרבות חוק
                                            הגנת הפרטיות, התשמ"א-1981 והתקנות הרלוונטיות.
                                        </li>
                                        <li>הנתונים האישיים של המשתמשים יישמרו במערכת היישום על מנת להקל על תהליך
                                            ההתחברות והשימוש השוטף ביישום, אך לא ייעשה בהם כל שימוש מעבר לנדרש להפעלת
                                            השירות.
                                        </li>
                                        <li>לא יועברו נתונים אישיים של משתמשים לכל גורם צד ג' ללא הסכמתם המפורשת, למעט
                                            במקרים בהם חלה עלינו חובה חוקית לעשות כן.
                                        </li>
                                        <li>החברה נוקטת באמצעים סבירים לאבטחת המידע השמור במערכת ומונעת גישה בלתי מורשית
                                            אליו, בהתאם לסטנדרטים מקובלים של אבטחת מידע. עם זאת, אין אפשרות להבטיח באופן
                                            מוחלט כי המערכת חסינה לחלוטין מפני חדירות או פריצות.
                                        </li>
                                        <li>במקרה של חשש להפרת פרטיות או אבטחת מידע, יש לדווח באופן מיידי לצוות התמיכה
                                            של היישום.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">הגבלת אחריות
                                    <ol class="sectionDetails">
                                        <li>היישום מסופק "כמות שהוא" (As Is), ללא כל התחייבות או אחריות לגבי דיוק
                                            הנתונים המוצגים בו, זמינות השירות, התאמה לצרכי המשתמש, או אי-הפרעות
                                            בפעילותו.
                                        </li>
                                        <li>מפעילי היישום אינם נושאים באחריות לכל נזק, ישיר או עקיף, שעלול להיגרם למשתמש
                                            כתוצאה משימוש ביישום או מהסתמכות על הנתונים המוצגים בו.
                                        </li>
                                        <li>המשתמש אחראי בלעדית לכל שימוש שהוא עושה ביישום, לרבות קבלת החלטות על בסיס
                                            הנתונים המופיעים בו.
                                        </li>
                                        <li>היישום תומך בפעילותו בכל הדפדפנים המובילים ובמערכות הפעלה למחשבים נייחים
                                            וניידים, אך אין התחייבות לזמינותו בכל גרסה של מערכת הפעלה או מכשיר קצה.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">קניין רוחני
                                    <ol class="sectionDetails">
                                        <li>כל זכויות היוצרים והקניין הרוחני ביישום, לרבות עיצוב, קוד מקור, טקסטים,
                                            תמונות וסימנים מסחריים, הינן בבעלות בלעדית של מפעילי היישום.
                                        </li>
                                        <li>אין להעתיק, לשכפל, להפיץ, למכור או לעשות כל שימוש מסחרי בתכני היישום ללא
                                            אישור מפורש בכתב מבעלי היישום.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">עדכונים ושינויים בתקנון
                                    <ol class="sectionDetails">
                                        <li>מפעילי היישום שומרים לעצמם את הזכות לעדכן את התקנון מעת לעת, בהתאם לצורך
                                            וללא הודעה מוקדמת.
                                        </li>
                                        <li>נוסח מעודכן של התקנון יפורסם ביישום, והמשך השימוש בו מהווה הסכמה לכל שינוי
                                            שנעשה בתקנון.
                                        </li>
                                    </ol>
                                </li>
                                <li class="subsection">יצירת קשר
                                    <ol class="sectionDetails">
                                        <li>לשאלות, הבהרות, או דיווח על בעיות טכניות, ניתן לפנות לצוות התמיכה של BGUniQ
                                            בכתובת הדוא"ל: BGUniQ@post.bgu.ac.il
                                        </li>
                                        <li>פניות בנושא פרטיות ניתן להפנות לאחראי הגנת הפרטיות של היישום בכתובת: Aguda@post.bgu.ac.il
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
                </br>
                <input class="mainButton" type="submit" name="Login" value="המשך">
            </form>
        </section>
    </section>
{% endblock %}

{% block btnHome %}
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('SignIn.static', filename='JS/SignIn.js') }}"></script>
{% endblock %}
{# </body> #}