{% extends ('Login.html') %}

{# head >> metaTags #}
{# title #}
{% block title %}התחברות{% endblock %}

{# <body> #}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="loginSection">
        <div class="back">
            <img src="{{url_for('static', filename='SVG/x.svg')}}" alt="Close" class="closeIcon">
        </div>
        <div class="loginStyle">
            <H3 class="mainTitle">שכחתם את הסיסמה? לא נורא!</H3>
            <p class="textStyle">הזינו את כתובת המייל שלכם לקבלת לינק לאיפוס הסיסמה</p>
            <form class="formStyle" action="" method="GET">
                <input class="textBoxInput" type="email" name="Email" placeholder="כתובת מייל*" required> </br>
                <input class="mainButton" type="submit" name="Login" value="איפוס סיסמה"> </br> </br>
            </form>
        </div>
    </section>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('Login.static', filename='JS/Login.js') }}"></script>
    <script src="{{ url_for('ForgotMyPassword.static', filename='JS/ForgotMyPassword.js') }}"></script>
{% endblock %}
{# </body> #}