{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    מחשבון נקודות זכות, ממוצע תואר, סטודנטים, אוניברסיטת בן גוריון, אגודת הסטודנטים, מחשבון סימולציה, ציון קורס
{% endblock %}
{# title #}
{% block title %}מחשבון סימולציה - עובר בינארי{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('BinaryPassCalculator.static', filename='CSS/BinaryPassCalculator.css') }}">
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">מחשבון סימולציה עובר בינארי</h1>
            <p class="secondPageTitle">What if calculator - Course Binary Grade</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue" id="gpa">{{ GPAIndicator }}</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע תואר אחרי השינוי</h4>
                <h3 class="indicatorValue">
                    {% if courses %}
                        84.20
                    {% else %}
                        0.00
                    {% endif %}
                </h3>
            </div>
        </div>
        <p class="recommendation">מומלץ לעיין בתנאים שנקבעו על ידי האוניברסיטה והמחלקה*</p>
    </section>

    <section id="courses">
        <div class="checkboxCol">
            <ul class="coursesBox"></ul>
        </div>
        <div class="academicRecordView">
            <table id="academicRecordTable">
                <colgroup>
                    <col class="yearCol">
                    <col class="courseCol">
                    <col class="creditCol">
                    <col class="gradeCol">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th class="courseCol">שם הקורס</th>
                    <th class="creditCol">נק״ז</th>
                    <th class="gradeCol">ציון סופי</th>
                </tr>
                </thead>
                <tbody>
                {% if courses %}
                    {% for course in courses %}
                        <tr data-year="{{ course.year }}">
                            <td class="emptyCell">
                                <div class="checkbox"></div>
                            </td>
                            <td class="courseName">{{ course.courseName }}</td>
                            <td>{{ course.courseCredits }}</td>
                            <td>{{ course.finalGrade }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="ifEnrollmentsIsEmpty">
                        <td colspan="4" class="enrollmentsIsEmpty">
                            אין קורסים שמורים במערכת - ניתן להזין את הנתונים דרך
                            <div class="linkToGPA">
                                <a href="{{ url_for('GPACalculator.gpa_calculator_page') }}">עמוד מחשבון נק״ז</a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('BinaryPassCalculator.static', filename='JS/BinaryPassCalculator.js') }}"></script>
{% endblock %}
{# </body> #}