/* ------------------------Titles and captions' Extra Design------------------------ */
.TextStyle {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.5;
}

button {
    font-family: 'Fredoka', Serif, serif;
}

/* ------------------------Popup Components Window Design------------------------ */
.popupComponentsWindow {
    position: absolute;
    top: 50px;
    left: -10px;
    background-color: #ffe0b3;
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 997;
    width: 450px;
    display: none;  /* Hidden by default */
}

.ComponentPercentage, .ComponentGrade {
    margin-right: -5px;
}

.hiddenWindow {
    display: none;
}

.openWindow {
    display: block;
}

/* Table Design */
.additionalComponents {
    direction: rtl;
    margin: 0;
    width: 100%; /* Ensure it takes the full width of the popup */
    border-spacing: 10px;
    table-layout: fixed;
}

.additionalComponents th {
    font-family: 'Fredoka', Serif, serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: right;
}

.additionalComponents tbody td {
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Fredoka', Serif, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2em;
    text-align: right;
    padding-right: 5px;
    height: 40px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.additionalComponents colgroup col:first-child {
    width: 60%;
    min-width: 100px;
}

.additionalComponents colgroup col:nth-child(2) {
    width: 20%;
    min-width: 50px;
}

.additionalComponents colgroup col:nth-child(3) {
    width: 20%;
    min-width: 50px;
}

.additionalComponents th:first-child, .additionalComponents td:first-child {
    width: 60%;
}

.additionalComponents th:nth-child(2), .additionalComponents td:nth-child(2),
.additionalComponents th:nth-child(3), .additionalComponents td:nth-child(3) {
    width: 20%;
}

/* Set correct column widths */
.additionalComponents input {
    width: 100%;
    box-sizing: border-box;
    cursor: default;
}

.closeButton {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.popupFooter {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-right: 5px;
}

.ActionButton {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #F7aF18;
    font-family: 'Fredoka', Serif, serif;
    color: white;
    font-size: 0.7rem;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 40px;
}

.ActionButton:hover {
    border: 0.8px solid #000000;
}

/* --------------------------choiceLists Design-------------------------- */
.theList, .customDropdown {
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    border-radius: 4px;
    border: 0.5px solid #7E7E7E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    max-height: 200px;
    overflow-y: auto;
    padding: 5px 15px 5px 0;
    min-width: 300px;
    margin: -9px 0 1px 5px;
    z-index: 997;
}

.theList li.listItem, .customDropdown li.listItem {
    direction: rtl;
    font-size: 11px;
    font-weight: 300;
}

.theList li.listItem:hover, .customDropdown li.listItem:hover {
    color: #F7aF18;
    cursor: default;
}

.active {
    background-color: #EEEEEE;
}

.hiddenList {
    display: none;
}

.openList {
    display: block;
}

.btnSelect.selected span {
    color: #000000;
}

/* ------------------------Year-Semester------------------------ */
.SemesterYearButton {
    color: #000000;
    background-color: #f7af18;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1em;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 40px;
    min-width: 120px;
    max-width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SemesterYearButton:hover {
    background-color: #ffe2b2;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.SemesterYearButton.active {
    background-color: #FFE2B2;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.SemesterYearButton.disabled {
    cursor: default;
    pointer-events: none;
}


table {
    border-spacing: 10px 2.5px;
    margin-right: -10px;
}

.ContinueButton {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    z-index: 10;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: #f7af18;
    border: 1px #f7af18 solid;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2em;
    height: 40px;
    width: 120px;
    max-width: 150px;
    border-radius: 20px;
}

.ContinueButton:hover {
    background-color: #f7af18;
    color: #FFFFFF;
}

/* ------------------------Calculator Table Design------------------------ */
#CalculatorInputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 40px;
    background-color: #FFE2B2;
    width: 90%;
    min-height: 50vh;
    position: relative;
    padding: 20px;
}

#CoursesTable {
    width: 100%;
    position: relative;
    text-align: center;
    border-spacing: 10px 15px;
    table-layout: auto;
    margin-bottom: 30px;
}

.tdInput {
    height: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

table input[type="number"], .btnSelect, .manualCourseInput{
    color: #7E7E7E;
    background-color: #FFFFFF;
    font-family: 'Fredoka', Serif, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2em;
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    /*min-width: 50px;*/
    height: 40px;
    padding: 10px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

table input[type="number"] {
    cursor: default;
}

.manualCourseInput:focus {
    outline: none; /* Remove default browser outline */
}

#CoursesTable input[list] {
    margin: 0;
    direction: rtl;
    width: 100%;
    min-width: 120px;
    height: 30px;
    font-weight: 300;
    border: none;
    text-align: right;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.ThickTd {
    width: 250px;
    cursor: pointer;
}

/* ------------------------Binary pass & Additional components Buttons------------------------ */
.GPAButton {
    color: #FFFFFF;
    background-color: #f7af18;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    width: 100%;
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.GPAButton:hover {
    background-color: #FF5A00;
}

.binaryButton.active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#CoursesTable td {
    text-align: start;
    position: relative;
    /*width: fit-content;*/
}

#CoursesTable tr {
    height: 40px;
}

#CoursesTable thead {
    font-size: 1.2rem;
    font-weight: 400;
}

input[list]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: transparent;
    -webkit-appearance: none;
}

input[list]:focus, table input[type="number"]:focus {
    outline: none;
}

.InputCourseContainer {
    position: relative;
}

/* ------------------------GPA Calculator table Footer Design------------------------ */
.calculatorInputFooter{
    margin-right: 35px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#SaveButton {
    color: #000000;
    background-color: #f7af18;
    flex-wrap: nowrap;
    text-align: center;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 10;
}

#AddCourseButton {
    color: #000000;
    background-color: #f7af18;
    font-family: 'Fredoka', Serif, serif;
    flex-wrap: nowrap;
    text-align: center;
    border: none;
    height: 30px;
    width: 250px;
    max-width: 160px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: flex-start;
}

#SaveButton:hover, #AddCourseButton:hover {
    border: 0.8px solid black;
}

.NotesTextStyle {
    color: #000000;
    font-size: 0.7rem;
    font-family: 'Fredoka', Serif, serif;
    text-align: right;
    line-height: 1.5;
    padding: 10px 0;
}

.ArrowIcon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 30%;
    left: 8%;
    pointer-events: none;
}

.PopupMenuContainer {
    position: relative;
    bottom: 12px;
    display: inline-block;
    width: 20px;
    height: 30px;
}

/* ------------------------ExtraActions Button Design------------------------ */
.extraActionsButton {
    font-size: 2rem;
    color: #FF5A00;
    font-family: 'Fredoka', Serif, serif;
    font-weight: lighter;
}

.PopupActionsMenu {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: rgba(230, 230, 230, 0.8);
    border: 0.01px solid #000000;
    border-radius: 5px;
    z-index: 998;
    min-width: 85px;
    font-family: 'Fredoka', Serif, serif;
    font-size: 0.6rem;
}

.PopupActionsMenu .menu-item {
    padding: 5px;
    color: #000;
    cursor: pointer;
    text-align: right;
}

.PopupActionsMenu .menu-item:hover {
    color: #FF5A00;
}

.hidden {
    display: none;
}

input[readonly] {
    background-color: #f9f9f9;
    border: 0.8px solid #ccc;
    pointer-events: none;
}

.error-message {
    font-family: 'Fredoka', Serif, serif;
    color: red;
    font-size: 0.6rem;
    text-align: right;
    position: absolute;
    display: grid;
    justify-self: end;
    align-self: start;
    padding: 1px;
    pointer-events: none;
    white-space: nowrap;
}

.alert-subtext {
    font-size: 0.85em;
    color: #666;
}

.customAlertFooter {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 15px;
}

/* ------------------------Media Query------------------------ */
@media (max-width: 768px) {
    #CalculatorInputContainer {
        padding: 5px 10px 5px 5px;
        width: 98%;
    }

    #CoursesTable {
        margin: 0 0 30px 0;
        border-spacing: 10px 5px;
    }

    .CoursesTableHeader {
        padding: 5px;
    }

    #CoursesTable tbody tr td:nth-child(1) {
        width: 20px;
    }

    #CoursesTable tbody tr td:nth-child(2) {
        min-width: 70px;
        max-width: 150px;
    }

    #CoursesTable tbody tr td:nth-child(3), #CoursesTable tbody tr td:nth-child(4) {
        width: 50px;
        min-width: 40px !important;
    }

    #CoursesTable tbody tr td:nth-child(5), #CoursesTable tbody tr td:nth-child(6) {
        width: 50px;
    }

    .popupComponentsWindow {
        left: 0;
        width: 400px;
    }

    .ActionButton {
        min-width: 20%;
    }

    .SemesterYearButton {
        min-width: 100px;
    }

    #CoursesTable input[list] {
        font-size: 12px;
    }

    .GPAButton {
        font-size: 14px;
    }
}

@media (max-width: 620px) {
    #CoursesTable thead {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }

    #CoursesTableHeader {
        padding: 0;
    }

    .GPAButton {
        font-size: 12px;
        min-width: 70px;
        flex-wrap: wrap;
    }

    .additionalComponents {
        border-spacing: 5px;
    }

    .popupComponentsWindow {
        left: -50%;
        width: 350px;
    }

    .additionalComponents th {
        font-size: 12px;
        margin-bottom: 2px;
    }
}

@media (max-width: 480px) {
    .pageTitle {
        font-size: 22px;
    }

    .popupComponentsWindow {
        left: -70%;
        width: 320px;
    }

    .theList, .customDropdown {
        max-height: 200px;
        min-width: 180px;
        max-width: 200px;
    }

    .theList li.listItem, .customDropdown li.listItem {
        font-size: 10px;
    }

    #CoursesTable tbody tr td:nth-last-child(-n+2) {
        width: 30px;
        padding-bottom: 1px;
    }

    #CoursesTable tbody .GPAButton {
        font-size: 10px;
    }

    #CoursesTable tr input[list], tbody td input[list], #CoursesTable input[type="number"] {
        height: 40px;
    }

    #CoursesTable thead {
        font-size: 14px;
        text-align: right;
        margin: 0;
    }

    .SemesterYearButton {
        line-height: 1em;
        height: 30px;
        min-width: 100px;
        max-width: 150px;
        font-size: 14px;
    }

    #AddCourseButton {
        width: 100px;
        font-size: 14px;
        right: 10px;
    }

    #SaveButton {
        width: 100px;
        font-size: 14px;
        right: 120px;
    }

    .GradeComponentRow {
        gap: 2px; /*between the columns inside the row*/
    }

    .GPAButton {
        flex-wrap: wrap;
        width: 100%;
        min-width: 50px;
    }
}

@media (max-width: 460px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .SemesterYearButton {
        min-width: 83px;
    }

    .TextStyle {
        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }
}

@media (max-width: 440px) {
    .popupComponentsWindow {
        width: 270px;
    }
}

@media (max-width: 385px) {
    .SemesterYearButton {
        line-height: 1em;
        min-width: 80px;
    }
}

@media (max-width: 380px) {
    .pageTitle {
        font-size: 20px;
    }

    #CoursesTable input[type="number"] {
        text-align: start;
        min-width: 30px;
    }

    #CoursesTable tbody {
        font-size: 10px;
    }
}