{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    מחשבון נקודות זכות, ממוצע תואר, סטודנטים, אוניברסיטת בן גוריון, אגודת הסטודנטים, מחשבון סימולציה, ציון קורס
{% endblock %}
{# title #}
{% block title %}מחשבון סימולציה{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('WhatIfCalculator.static', filename='CSS/WhatIfCalculator.css') }}">
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
        <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">מחשבון סימולציה</h1>
            <p class="secondPageTitle">What if calculator - Course Final Grade</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue" id="gpa">{{ GPAIndicator }}</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע תואר אחרי השינוי</h4>
                <h3 class="indicatorValue" id="newGpaIndicator">
                    {% if courses %}
                        {{ GPAIndicator }}
                    {% else %}
                        0.00
                    {% endif %}
                </h3>
            </div>
        </div>
    </section>

    <section id="userInput">
        <p>בחר.י קורס מתוך הרשימה</p>
        <div class="btnSelect">
            <span>קורסים</span>
            <img src="{{ url_for('static', filename='SVG/triangle-down.svg') }}" class="selectIcon">
        </div>
        <div class="popupCoursesList hiddenList">
            <ul class="coursesList">
                {% if studentCourses %}
                    {% for course in studentCourses %}
                        <li class="courseItem" data-course-id="{{ course.id }}"
                            data-course-credits="{{ course.credits }}" data-course-grade="{{ course.grade }}">
                            <span class="checkbox"></span>
                            {{ course.name }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="noCourses">אין קורסים שמורים במערכת</li>
                {% endif %}
            </ul>
        </div>
    </section>
    <section id="simulationContainer">
        <!--Sliders-->
    </section>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('WhatIfCalculator.static', filename='JS/WhatIfCalculator.js') }}"></script>
{% endblock %}
{# </body> #}