{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    מחשבון נקודות זכות, ממוצע תואר, סטודנטים, אוניברסיטת בן גוריון, אגודת הסטודנטים, מחשבון סימולציה, ציון קורס
{% endblock %}
{# title #}
{% block title %}מחשבון סימולציה{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('WhatIfCalculator.static', filename='CSS/WhatIfCalculator.css') }}">
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
        <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">מחשבון סימולציה</h1>
            <p class="secondPageTitle">What if calculator - Course Final Grade</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue">84.20</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע תואר אחרי השינוי</h4>
                <h3 class="indicatorValue">85.00</h3>
            </div>
        </div>
    </section>

    <section id="userInput">
        <p>בחר.י קורס מתוך הרשימה</p>
        <div class="btnSelect">
            <span>קורסים</span>
            <img src="{{url_for('static', filename='SVG/triangle-down.svg')}}" class="selectIcon">
        </div>
        <div class="popupCoursesList hiddenList">
            <ul class="coursesList">
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא לכלכלה
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא למערכות מידע
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא לחשבונאות פיננסית
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא להנדסת תעשיה וניהול
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    חדו״א 1 להנדסה
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא למתמטיקה דיסקרטית
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    אלגברה ליניארית להנדסה
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    חקר ביצועים 1
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    גרפיקה הנדסית וממוחשבת
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא לתכנות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא להסתברות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    חדו״א להנדסת תעשיה וניהול 2
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    משוואות דיפרנציאליות רגילות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    סדנת כתיבה מדעית
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    חקר ביצועים 2
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    תכנון ופקוח על היצור 1
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    פיתוח תוכנה מונחה עצמים
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    אמידה ומבחני השערות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    יסודות האלגוריתמים והסיבוכיות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    פיסיקה 1ב
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    תכנון ופקוח על היצור 2
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    בסיסי נתונים
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    הנדסת שיטות ותהליכים ארגוניים
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא להנ׳ מכונות ותהליכי ייצור
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    פיסיקה 2ב
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    אנגלית מתקדמים ב׳
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא להנדסת גורמי אנוש
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא לקבלת החלטות
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מבוא להנדסת חשמל
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    סימולציה
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    סדנת מיומנויות בתקשורת בינאישית
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    ניתוח ועיצוב מע׳-מידע
                </li>
                <li class="courseItem">
                    <span class="checkbox"></span>
                    מודלים של רגרסיה ליניארית
                </li>
            </ul>
        </div>
    </section>
    <section id="simulationContainer">
        <!--Sliders-->
    </section>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('WhatIfCalculator.static', filename='JS/WhatIfCalculator.js') }}"></script>
{% endblock %}
{# </body> #}