.welcomeSection {
    background-color: #FEFDF5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 20px;
    min-height: 70vh;
}

.mainSection {
    width: 400px;
}

.welcomeSection {
    padding: 0;
}

.pageTitle {
    font-size: 25px;
    font-weight: 500;
    text-align: right;
    padding-bottom: 3px;
}

.secondPageTitle {
    font-size: 14px;
    text-align: right;
    line-height: 1.5;
    padding-bottom: 10px;
}

.formStyle {
    min-width: 400px;
}

.userInput {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}

.multipleChoiceLists {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.textBoxInput, .multipleChoiceLists {
    color: #7E7E7E;
    background-color: #FFFFFF;
    font-family: 'Fredoka', Serif, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2em;
    text-align: right;
    width: 100%;
    height: 50px;
    max-width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0;
    border: 1px solid #f7af18;
    box-sizing: border-box;
    box-shadow: none;
    padding-right: 5px;
}

.academicYearAndMonth {
    font-size: 11px;
    font-weight: 300;
    color: #000000;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}

.checkbox span {
    font-size: 12px;
    font-weight: 300;
    color: #000000;
}

.checkbox span:nth-of-type(2), .checkbox span:nth-of-type(4) {
    text-decoration: underline;
    color: #244ea1;
    cursor: pointer;
}

/* orange button */
.mainButton {
    color: #FFFFFF;
    background-color: #f7af18;
    font-family: 'Fredoka', Serif, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
    text-align: center;
    padding: 10px;
    border: none;
    width: 100%;
    height: 50px;
    min-width: 64px;
    max-width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s;
}

.mainButton:hover {
    background-color: #ffe2b2;
}


input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
    box-shadow: none;
}

input {
    cursor: default;
}

/* --------------------------Terms Of Use-------------------------- */
.hiddenWindow {
    display: none !important;
}

.openWindow {
    display: flex !important;
}

.popupTermsWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #7E7E7E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 10px;
    width: 600px;
    max-height: 50vh;
    margin: 0 0 10px 10px;
    z-index: 997;
    overflow-y: auto;
}

.popupTermsWindow ol {
    list-style-type: decimal;
    counter-reset: main-counter;
    margin-right: 10px;
    padding-right: 10px;
}

.popupTermsWindow ol > li {
    counter-increment: main-counter;
}

.popupTermsWindow ol > li > ol {
    list-style: none;
    counter-reset: sub-counter;
    margin-right: 5px;
}

.popupTermsWindow ol > li > ol > li {
    counter-increment: sub-counter;
    display: flex;
    align-items: flex-start;
}

.popupTermsWindow ol > li > ol > li::before {
    content: counter(main-counter) "." counter(sub-counter) " ";
    flex-shrink: 0;
    width: 2em;
    text-align: right;
    direction: ltr;
    line-height: 1.5;
    display: inline-block;
}

.popupTermsWindow li {
    direction: rtl;
    text-align: justify;
    line-height: 1.5;
}

.termsTitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.subsection {
    font-weight: 400;
    font-size: 14px;
}

.sectionDetails {
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    cursor: pointer;
}

/* -------------------------- Responsive Style -------------------------- */
@media screen and (max-width: 768px) {
    /* For tablet screens */
}

@media screen and (max-width: 480px) {
    /* For small screens */
    .mainSection {
        width: 300px;
    }

    .formStyle {
        min-width: 300px;
    }

    .userInput {
        min-width: 300px;
    }
}

@media screen and (max-width: 380px) {
    /* For mobile devices */
    .pageTitle {
        font-size: 25px;
    }
}