{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    מחשבון נקודות זכות, ממוצע תואר, סטודנטים, אוניברסיטת בן גוריון, אגודת הסטודנטים, גיליון ציונים אקדמי, קורסים
{% endblock %}
{# title #}
{% block title %}גיליון ציונים{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('AcademicRecord.static', filename='CSS/AcademicRecord.css') }}">
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="welcomeSection">
        <h1 class="pageTitle">גליון ציונים</h1>
        <p class="secondPageTitle">תואר ראשון בהנדסת תעשייה וניהול</p>
    </section>
    <section class="indicatorsSection">
        <div class="indicator">
            <h4>ממוצע תואר</h4>
            <h3 class="indicatorValue" id="gpa">{{ GPAIndicator }}</h3>
        </div>
        <div class="indicator">
            <h4>נק״ז מצטבר</h4>
            <h3 class="indicatorValue" id="credits">{{ totalCredits }}</h3>
            <h5>מתוך 162.5</h5>
        </div>
        <div class="indicator">
            <h4>מס׳ קורסים</h4>
            <h3 class="indicatorValue" id="courses">{{ numberOfCourses }}</h3>
        </div>
    </section>

    <div class="academicRecordView">
        <table id="academicRecordTable">
            <colgroup>
                <col class="yearCol">
                <col class="courseCol">
                <col class="creditCol">
                <col class="gradeCol">
            </colgroup>
            <thead>
            <tr>
                <th>שנה</th>
                <th class="courseCol">שם הקורס</th>
                <th class="creditCol">נק״ז</th>
                <th class="gradeCol">ציון סופי</th>
            </tr>
            </thead>
            {# Table body #}
            <tbody>
            {% if not has_courses %}
                <tr class="ifEnrollmentsIsEmpty">
                    <td colspan="4" class="enrollmentsIsEmpty">
                        אין קורסים שמורים במערכת - ניתן להזין את הנתונים דרך
                        <div class="linkToGPA">
                            <a href="{{ url_for('GPACalculator.gpa_calculator_page') }}">עמוד מחשבון נק״ז</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                {% for year, semesters in enrollments.items() %}
                    <tbody data-year="{{ year }}">
                    <tr class="yearHeader">
                        <td class="yearCol" colspan="4">
                            <img src="{{ url_for('static', filename='SVG/angle-down.svg') }}" class="collapseIcon">
                            שנה
                            {% set year_mapping = {"yearA": "א'", "yearB": "ב'", "yearC": "ג'", "yearD": "ד'"} %}
                            {{ year_mapping.get(year, "לא ידוע") }}
                        </td>
                    </tr>
                    {% for semester, courses in semesters.items() %}
                        {% for course in courses %}
                            <tr>
                                <td class="emptyCell"></td>
                                <td class="courseName">{{ course.courseName }}</td>
                                <td>{{ course.courseCredits }}</td>
                                <td class="courseGrade">{{ course.finalGrade }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('AcademicRecord.static', filename='JS/AcademicRecord.js') }}"></script>
{% endblock %}
{# </body> #}