/* ------------------------Titles and captions' Extra Design------------------------ */
.indicator:nth-of-type(4) .indicatorValue {
    color: #FF5A00;
}

/* ------------------------Graphs Container Design------------------------ */
.PerformanceGraphsContainer {
    background-color: #FFE2B2;
    display: grid;
    grid-template-columns: repeat(3,33%);
    min-height: 45vh;
    padding: 20px;
    margin-top: 5px;
    column-gap: 5px;
    box-sizing: border-box ;
    direction: rtl;
}

#YearAverageGraph {
    grid-column: 1/2;
}

#SemesterAverageGraph {
    grid-column: 2/3;
}

#CoursesGradesGraph {
   grid-column: 3/4;
}

.BackButtonContainer {
    grid-area: backButton;
    background-color: #ffe2b2;
    padding: 10px 40px 20px 0;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
}

.BackIcon .backBtn {
    width: 30px;
    height: 30px;
}

.Hidden {
    display: none;
}

/* ------------------------Media Query------------------------ */
@media screen and (max-width: 768px) {
    main {
        margin-right: 20px;
        margin-left: 20px;
    }

    .text {
        width: 95%;
        padding: 5px 5px 5px 20px;
    }

    .PerformanceIndicatorsContainer {
        width: 95%;
        padding: 5px 5px 5px 20px;
    }

    .PerformanceGraphsContainer {
        display: flex;
        flex-direction: column; /* Arrange graphs vertically */
        gap: 20px; /* Add spacing between graphs */
        min-height: 120vh;
        position: static;
        padding: 5px 5px 5px 20px;
        width: 95%;
    }

    .BackButtonContainer {
        padding: 20px 20px 20px 5px;
        width: 95%;
    }

    .Chart {
        margin-bottom: 30px;
    }

    .ChartTitle {
        margin-bottom: 0;
    }

    #YearsTitle, #SemestersTitle, #CoursesTitle {
        height: 20px;
    }

    #YearAverageGraph, #SemesterAverageGraph, #CoursesGradesGraph {
        position: static;
    }

    .DetailsWindow {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .indicatorsSection {
        padding: 0 2px 10px 0;
    }

    .PerformanceIndicatorsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: 1px;
    }

    .indicator {
        width: 125px;
    }

    .DetailsWindow {
        font-size: 10px;
    }
}

@media screen and (max-width: 383px) {
    .MainTitle {
        font-size: 20px;
    }

    .TextStyle {
        font-size: 13px;
    }
}