{#{% extends ('Base.html') %}#}
{##}
{# head >> metaTags #}
{#{% block metaTags %}#}
{#    ניתוחים אנליטיים, ממוצע תואר, אוניברסיטת בן גוריון, סטודנטים, אגודת הסטודנטים, ביצועים אקדמיים#}
{#{% endblock %}#}
{# title #}
{#{% block title %}ניתוחים מתקדמים{% endblock %}#}
{# CSS links #}
{#{% block extraStyles %}#}
{#    <link rel="stylesheet" href="{{ url_for('AdvancedAnalysis.static', filename='CSS/AdvancedAnalysis.css') }}">#}
{#{% endblock %}#}
{##}
{# <body> #}
{#{% block alertWindow %}#}
{#{% endblock %}#}
{# main - Navigation & Footer are included in Base.html #}
{#{% block mainContent %}#}
{#    <section class="welcomeSection">#}
{#        <div class="welcomeText">#}
{#            <h1 class="pageTitle">ניתוחים מתקדמים</h1>#}
{#            <p class="secondPageTitle">הגרפים הבאים מציגים בצורה ויזואלית את ביצועיכם האקדמיים :)</p>#}
{#        </div>#}
{#    </section>#}
{#    <section class="indicatorsSection">#}
{#        <div class="indicatorsContainer">#}
{#            <div class="indicator">#}
{#                <h4>ממוצע תואר</h4>#}
{#                <h3 class="indicatorValue">84.20</h3>#}
{#            </div>#}
{#            <div class="indicator">#}
{#                <h4>ממוצע סמסטר</h4>#}
{#                <h3 class="indicatorValue">85.00</h3>#}
{#            </div>#}
{#            <div class="indicator">#}
{#                <h4>ממוצע היעד</h4>#}
{#                <h3 class="indicatorValue">89.00</h3>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <div class="AnalysisGraphsContainer">#}
{#        <section class="AnalysisContainer">#}
{#            <div id="AnalyticsContent">#}
{#                <table>#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">ממוצע תואר:</th>#}
{#                        <th class="AnalyticsNumber">#}
{#                            <span class="Arrow">↑</span>#}
{#                            <span>84.20</span>#}
{#                        </th>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">ממוצע תואר סמסטר קודם:</th>#}
{#                        <th class="AnalyticsNumber">82.83</th>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">אחוז שינוי:</th>#}
{#                        <th class="AnalyticsNumber">0.01</th>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">תוספת:</th>#}
{#                        <th class="AnalyticsNumber">2.09+</th>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">ממוצע סמסטר נוכחי:</th>#}
{#                        <th class="AnalyticsNumber">89.71</th>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th class="AnalyticsText">ממוצע סמסטר קודם:</th>#}
{#                        <th class="AnalyticsNumber">87.8</th>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </section>#}
{#        <section class="AnalysisGraph">#}
{#            <div class="GraphContainer">#}
{#                <p id="DegreeAverageGraphTitle" class="GraphTitle">השתנות ממוצע התואר לאורך זמן</p>#}
{#                <div id="DegreeAverageGraph" class="ChartContainer">#}
{#                    <div class="AVGChart">#}
{#                        <div class="Legend">#}
{#                            <span class="LegendItem DarkOrange">סמסטר א׳</span>#}
{#                            <span class="LegendItem Orange">סמסטר ב׳</span>#}
{#                            <span class="LegendItem LightOrange">סמסטר קיץ</span>#}
{#                        </div>#}
{#                        <div class="Scale">#}
{#                            <div>100</div>#}
{#                            <div>80</div>#}
{#                            <div>60</div>#}
{#                            <div>40</div>#}
{#                            <div>20</div>#}
{#                            <div>0</div>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="65">#}
{#                                <span class="BarValue">65</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="71">#}
{#                                <span class="BarValue">71</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="79">#}
{#                                <span class="BarValue">79</span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה א</span>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="81">#}
{#                                <span class="BarValue">81</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="83">#}
{#                                <span class="BarValue">83</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="0">#}
{#                                <span class="BarValue"></span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה ב</span>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="83">#}
{#                                <span class="BarValue">83</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="85">#}
{#                                <span class="BarValue">85</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="0">#}
{#                                <span class="BarValue"></span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה ג</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="ButtonContainer">#}
{#                <button id="SemesterAvgButton" class="ButtonInContainer">#}
{#                    לצפייה בהשפעת ממוצע הסמסטר על ממוצע התואר לחץ כאן#}
{#                </button>#}
{#            </div>#}
{#        </section>#}
{##}
{##}
{#        <section id="SemesterAvgAnalysisGraph" class="Hidden">#}
{#            <div class="GraphContainer">#}
{#                <p class="GraphTitle">השתנות ממוצע הסמסטר והשפעתו על ממוצע התואר לאורך זמן</p>#}
{#                <div id="SemesterAverageGraph" class="ChartContainer">#}
{#                    <div class="AVGChart">#}
{#                        <div class="Legend">#}
{#                            <span class="LegendItem DarkOrange">סמסטר א׳</span>#}
{#                            <span class="LegendItem Orange">סמסטר ב׳</span>#}
{#                            <span class="LegendItem LightOrange">סמסטר קיץ</span>#}
{#                            <span class="LegendItem Blue">ממוצע התואר</span>#}
{#                        </div>#}
{#                        <div class="Scale">#}
{#                            <div>100</div>#}
{#                            <div>80</div>#}
{#                            <div>60</div>#}
{#                            <div>40</div>#}
{#                            <div>20</div>#}
{#                            <div>0</div>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="65">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה א <br>#}
{#                                    סמסטר א׳: 65<br>#}
{#                                    ממוצע תואר: 65<br>#}
{#                                    שינוי: 0#}
{#                                </span>#}
{#                                <span class="BarValue">65</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                                <span class="AveragePoint" data-degree-average="65"></span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="71">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה א <br>#}
{#                                    סמסטר ב׳: 71<br>#}
{#                                    ממוצע תואר: 66<br>#}
{#                                    שינוי: 3+#}
{#                                </span>#}
{#                                <span class="BarValue">71</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                                <span class="AveragePoint" data-degree-average="66"></span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="79">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה א <br>#}
{#                                    סמסטר קיץ: 79<br>#}
{#                                    ממוצע תואר: 70<br>#}
{#                                    שינוי: 1+#}
{#                                </span>#}
{#                                <span class="BarValue">79</span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                                <span class="AveragePoint" data-degree-average="70"></span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה א</span>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="82">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה ב <br>#}
{#                                    סמסטר א׳: 82<br>#}
{#                                    ממוצע תואר: 75<br>#}
{#                                    שינוי: 1+#}
{#                                </span>#}
{#                                <span class="BarValue">82</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                                <span class="AveragePoint" data-degree-average="75"></span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="83">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה ב <br>#}
{#                                    סמסטר ב׳: 83<br>#}
{#                                    ממוצע תואר: 77<br>#}
{#                                    שינוי: 1+#}
{#                                </span>#}
{#                                <span class="BarValue">83</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                                <span class="AveragePoint" data-degree-average="77"></span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="0">#}
{#                                <span class="BarValue"></span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                                <span class="AveragePoint" data-degree-average="77"></span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה ב</span>#}
{#                        </div>#}
{#                        <div class="YearGroup">#}
{#                            <div class="Bar DarkOrange" data-value="85">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה ג <br>#}
{#                                    סמסטר א׳: 85<br>#}
{#                                    ממוצע תואר: 82<br>#}
{#                                    שינוי: 1+#}
{#                                </span>#}
{#                                <span class="BarValue">85</span>#}
{#                                <span class="BarLabel">סמסטר א</span>#}
{#                                <span class="AveragePoint" data-degree-average="82"></span>#}
{#                            </div>#}
{#                            <div class="Bar Orange" data-value="83">#}
{#                                <span class="text DetailsWindow">#}
{#                                    שנה ג <br>#}
{#                                    סמסטר ב׳: 83<br>#}
{#                                    ממוצע תואר: 78<br>#}
{#                                    שינוי: 2+#}
{#                                </span>#}
{#                                <span class="BarValue">83</span>#}
{#                                <span class="BarLabel">סמסטר ב</span>#}
{#                                <span class="AveragePoint" data-degree-average="78"></span>#}
{#                            </div>#}
{#                            <div class="Bar LightOrange" data-value="0">#}
{#                                <span class="BarValue"></span>#}
{#                                <span class="BarLabel">סמסטר קיץ</span>#}
{#                                <span class="AveragePoint" data-degree-average="78"></span>#}
{#                            </div>#}
{#                            <span class="YearLabel">שנה ג</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="ButtonContainer">#}
{#                <button id="BackToDegreeAVGButton">#}
{#                    <img src="{{ url_for('static', filename='SVG/backBtn.svg') }}" alt="חזור" class="backBtn">#}
{#                </button>#}
{#            </div>#}
{#        </section>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{# JS links #}
{#{% block extraScripts %}#}
{#    <script src="{{ url_for('AdvancedAnalysis.static', filename='JS/AdvancedAnalysis.js') }}"></script>#}
{#{% endblock %}#}
{# </body> #}


{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    ניתוחים אנליטיים, ממוצע תואר, אוניברסיטת בן גוריון, סטודנטים, אגודת הסטודנטים, ביצועים אקדמיים
{% endblock %}
{# title #}
{% block title %}ניתוחים מתקדמים{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('AdvancedAnalysis.static', filename='CSS/AdvancedAnalysis.css') }}">
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">ניתוחים מתקדמים</h1>
            <p class="secondPageTitle">הגרפים הבאים מציגים בצורה ויזואלית את ביצועיכם האקדמיים :)</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue">84.20</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע סמסטר</h4>
                <h3 class="indicatorValue">85.00</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע היעד</h4>
                <h3 class="indicatorValue">89.00</h3>
            </div>
        </div>
    </section>

    {% if not has_courses %}
        <div class="AnalysisGraphsContainer">
            <p class="ifEnrollmentsIsEmpty">
                <span>
                    אין קורסים שמורים במערכת - ניתן להזין את הנתונים דרך
                    <span class="linkToGPA">
                        <a href="{{ url_for('GPACalculator.gpa_calculator_page') }}">עמוד מחשבון נק״ז</a>
                    </span>
                </span>>
            </p>
        </div>
    {% else %}

        <section class="DegreeAvgAnalysisGraph"> <!-- השתנות ממוצע התואר לאורך הזמן + הטבלת מדדים בצד-->
            <div class="AnalysisGraphsContainer">
                <div id="DegreeAvgGraphContainer">
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <div id="AnalyticsContent">
                    <table>
                        <tbody>
                        <tr>
                            <th class="AnalyticsText">ממוצע תואר:</th>
                            <th class="AnalyticsNumber">
                                <span class="Arrow">↑</span>
                                <span>84.20</span>
                            </th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע תואר סמסטר קודם:</th>
                            <th class="AnalyticsNumber">82.83</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">אחוז שינוי:</th>
                            <th class="AnalyticsNumber">0.01</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">תוספת:</th>
                            <th class="AnalyticsNumber">2.09+</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע סמסטר נוכחי:</th>
                            <th class="AnalyticsNumber">89.71</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע סמסטר קודם:</th>
                            <th class="AnalyticsNumber">87.8</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ButtonContainer">
                    <button id="SemesterAvgButton" class="ButtonInContainer">
                        לצפייה בהשפעת ממוצע הסמסטר על ממוצע התואר לחץ כאן
                    </button>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('AdvancedAnalysis.static', filename='JS/AdvancedAnalysis.js') }}"></script>
{% endblock %}
{# </body> #}
