{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    ניתוחים אנליטיים, ממוצע תואר, אוניברסיטת בן גוריון, סטודנטים, אגודת הסטודנטים, ביצועים אקדמיים
{% endblock %}
{# title #}
{% block title %}ניתוחים מתקדמים{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('AdvancedAnalysis.static', filename='CSS/AdvancedAnalysis.css') }}">
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}
{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">ניתוחים מתקדמים</h1>
            <p class="secondPageTitle">הגרפים הבאים מציגים בצורה ויזואלית את ביצועיכם האקדמיים :)</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue" id="gpa">{{ GPAIndicator }}</h3>
            </div>
            <div class="indicator">
                <h4>נק״ז מצטבר</h4>
                <h3 class="indicatorValue" id="credits">{{ totalCredits }}</h3>
                <h5>מתוך 162.5</h5>
            </div>
            <div class="indicator">
                <h4>ממוצע היעד</h4>
                <h3 class="indicatorValue" id="target">{{ targetGPA }}</h3>
            </div>
        </div>
    </section>

    {% if not has_courses %}
        <div class="AnalysisGraphsContainerIfEmpty">
            <div class="ifEnrollmentsIsEmpty">
                <div class="enrollmentsIsEmpty">
                    אין קורסים שמורים במערכת - ניתן להזין את הנתונים דרך
                    <div class="linkToGPA">
                        <a href="{{ url_for('GPACalculator.gpa_calculator_page') }}">עמוד מחשבון נק״ז</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section class="DegreeAvgAnalysisGraph"> <!-- השתנות ממוצע התואר לאורך הזמן + הטבלת מדדים בצד-->
            <div class="AnalysisGraphsContainer">
                <div id="DegreeAvgGraphContainer">
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <div id="AnalyticsContent">
                    <table>
                        <tbody>
                        <tr>
                            <th class="AnalyticsText">ממוצע תואר:</th>
                            <th class="AnalyticsNumber">
                                <span class="Arrow">↑</span>
                                <span>84.20</span>
                            </th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע תואר סמסטר קודם:</th>
                            <th class="AnalyticsNumber">82.83</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">אחוז שינוי:</th>
                            <th class="AnalyticsNumber">0.01</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">תוספת:</th>
                            <th class="AnalyticsNumber">2.09+</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע סמסטר נוכחי:</th>
                            <th class="AnalyticsNumber">89.71</th>
                        </tr>
                        <tr>
                            <th class="AnalyticsText">ממוצע סמסטר קודם:</th>
                            <th class="AnalyticsNumber">87.8</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ButtonContainer">
                    <button id="SemesterAvgButton" class="ButtonInContainer">
                        לצפייה בהשפעת ממוצע הסמסטר על ממוצע התואר לחץ כאן
                    </button>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('AdvancedAnalysis.static', filename='JS/AdvancedAnalysis.js') }}"></script>
{% endblock %}
{# </body> #}
