
{% extends ('Base.html') %}

{# head >> metaTags #}
{% block metaTags %}
    ניתוחים אנליטיים, ממוצע תואר, אוניברסיטת בן גוריון, סטודנטים, אגודת הסטודנטים, ביצועים אקדמיים
{% endblock %}
{# title #}
{% block title %}ניתוח ביצועים אקדמיים{% endblock %}
{# CSS links #}
{% block extraStyles %}
    <link rel="stylesheet"
          href="{{ url_for('AcademicPerformanceAnalysis.static', filename='CSS/AcademicPerformanceAnalysis.css') }}">
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
{% endblock %}

{# <body> #}
{% block alertWindow %}
{% endblock %}

{# main - Navigation & Footer are included in Base.html #}
{% block mainContent %}
    <section class="welcomeSection">
        <div class="welcomeText">
            <h1 class="pageTitle">ניתוח ביצועים אקדמיים</h1>
            <p class="secondPageTitle">בעמוד זה תוכלו לצפות בצורה ויזואלית בביצועים שלכם :)</p>
        </div>
    </section>
    <section class="indicatorsSection">
        <div class="indicatorsContainer">
            <div class="indicator">
                <h4>ממוצע תואר</h4>
                <h3 class="indicatorValue">84.92</h3>
            </div>
            <div class="indicator">
                <h4>נק״ז מצטבר</h4>
                <h3 class="indicatorValue">127</h3>
                <h5>מתוך 162.5</h5>
            </div>
            <div class="indicator">
                <h4>מס׳ קורסים</h4>
                <h3 class="indicatorValue">38</h3>
            </div>
            <div class="indicator">
                <h4>ממוצע היעד</h4>
                <h3 class="indicatorValue">85.00</h3>
            </div>
        </div>
    </section>

    <div class="PerformanceGraphsContainer">
        <section class="YearsAnalysis">
            <div id="YearAverageGraph">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </section>
        <section class="SemestersAnalysis">
            <div id="SemesterAverageGraph">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </section>
        <section class="CoursesAnalysis">
            <div id="CoursesGradesGraph">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </section>
        <button id="BackButton" class="BackIcon">
            <img src="{{ url_for('static', filename='SVG/backBtn.svg') }}" alt="חזור" class="backBtn">
        </button>
    </div>
{% endblock %}

{# JS links #}
{% block extraScripts %}
    <script src="{{ url_for('AcademicPerformanceAnalysis.static', filename='JS/AcademicPerformanceAnalysis.js') }}"></script>
{% endblock %}
{# </body> #}